{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h1>Cat or not</h1>
<p>This is an app created in order to let user determine if there is a <strong>single</strong> cat on the image or not.</p>
<p>Go to <a href="{{ path('app_image_upload' )}}">upload</a> in order to test image for presence of a cat.
</div>
{% endblock %}
